<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.shaolin.uimaster.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FIND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="org.shaolin.uimaster.app.aty.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="91c61230781c557eb7a2e61526add1b5" />
        <activity
            android:name="org.shaolin.uimaster.app.aty.AppStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AppStartLoad" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.shaolin.uimaster.app.aty.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.WebViewDialogActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.FindPwdActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.ImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.WXEntryActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.shaolin.uimaster.app.aty.AboutUsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".aty.ChatActivity" android:screenOrientation="portrait"/>
		<activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
		</activity>
		<activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
		</activity>
        <service android:name=".service.SyncServerResources" />
        <service android:name="com.amap.api.location.APSService"></service>

    </application>

</manifest>